h1{
    text-shadow: aliceblue;
    background-color: rgb(98, 15, 222);
    margin:0,0;
    border-left: 10px;
    border-color: yellow;
    border-style: solid;
} 
#nav-bar{
    color: black;
    text-decoration: dotted;
    margin:0;
}
body{
    border: 5px solid red;
    background-color:rgb(54, 160, 252) ;
}
title{
    font-size: 45px;

}
header{
    background-color: rgb(54, 160, 252);
}
.col-welcome{
    border-color: yellow;
    border-radius: 10px;
    border-style: solid;
}

p{
    column-count: 3;
    column-rule-width: 30px;
 justify-content: center;
     align-items: center;
     color: rgb(170, 13, 13);
    font-weight: 800;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

.container-fluid{
  background: orange;
  display:block
  
}

.row{
     font-weight: bold;
     font-size: 35px;
     
}
    

.button{
}

    
