h1{
    text-shadow: aliceblue;
    background-color: rgb(98, 15, 222);
    margin:0 0 0 0;
    border-left: 10px;
    border-color: yellow;
    border-style: solid;
    font-size: 100px;
    height: 125px;
    align-self: center;
    justify-self: center;
    text-align: center;
} 
#nav-bar{
    color: black;
    text-decoration: dotted;
    margin:0;
    font-size: 25px;
    text-shadow: 3px;

}
    

body{
    border: 5px solid red;
    background-color:rgb(54, 160, 252) ;

}

title{
    font-size: 45px;

}
.header{
    background-color: rgb(54, 160, 252);
    font-size: 50px;
    height:auto;
    padding: auto;
    margin: auto;


    
    
}   
.col-welcome{
    margin: auto;
    padding: auto;
    display: flex;
    justify-content:center;
    align-content: stretch;
    color: white;
    font-size: 25px;
    width: auto;
    height: auto;
    border: radius 3px;
    border-color: teal;
    
    
    
    

    
}


    


.container-fluid{
  background: orange;
  display:block;
  justify-content: center;
  align-content: center;
  font-style: italic;


  
}

.row{
     font-weight: bold;
     font-size: 35px;
     
}
    
@media (max-width:412px){
    .container-fluid{
    font-size: 18px;
    align-content: center;
    justify-content: center;
    }
    p{
       font-size: 14px; 
       font-style: normal;
    }
    .card{
        width:250px;
    }
    h1{
        font-size: 30px;
        font-stretch: expanded;
        height: 8vh;
        margin: 0;
        font-weight: bold;
    }
    h3{
        font-size: 20px;
    }
      .container-fluid{
        font-size: 8x;
        align-content: center;
        justify-content: center;
        
      }
      .container{
          width: auto;
      }
      iframe{
          width: auto;
      }
      .one{
          font-size: 16px;
      }
}

h2{
    font: size 24px;
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
    font-stretch: expanded;

    img{
     width: 200px;
    }

    .container{

        align-content: space-between;
        justify-content: center;
        margin: auto;
        padding: auto;
        display:flex;

 
    }

.card {
    size: 200px;
    display: flex;
    justify-content: center;
    margin:auto;
    padding: auto;
    size: 250px;
    height: 300px;
    
    

}

h3{
    color: teal;
}

#anime-merch{
    font-size: 30px;
    font-weight: bold;
    align-content: stretch;
    justify-content: flex-end;
    font-stretch: extra-expanded;
    margin: auto;
}
#clothes{
    font-size: 30px;
    font-weight: bold;
    align-content: stretch;
    justify-content: flex-end;
    font-stretch: extra-expanded;
    margin: auto;
}


#accessories{
    font-size: 30px;
    font-weight: bold;
    align-content: stretch;
    justify-content: flex-end;
    font-stretch: extra-expanded;
    margin: auto;
}

iframe{
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 50%;
    
}